body    {

    padding: 0;
    margin: 2em;
    text-align: center;
    color: rgb(0, 71, 138);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    background-color: rgb(206, 207, 207);


}


#container {

    padding: 5px;
    width: 70%;
    margin: 0px auto;
    border: 5px solid rgba(172, 160, 0, 0.904);

}

#cabecera {

    padding: 0;
    font-size: 30px;
    color: rgb(0, 255, 13);
    text-align: left;
    background-color: rgb(0, 95, 95);
    font-family: Helvetica;
    box-shadow: 10px 10px 19px 1px rgba(0,194,129,1);    

}

#Categoria {

    padding: 1em;

}

#footer {

    background-color: orange;
    text-align: center;
    padding: 0.5em;
    

}